.signature-field {

  width:360px;
  height:160px;
  background-color: #eeeeee;

  #can {
    position: absolute;
    top: 80px;
    left:0;
    right:0;
    margin:auto;

    transform-origin: top;
    transform: scale(1.2);

    border: 1px solid black;
    background-color: #eeeeee;
  }

  .signature-editor {
    position:absolute;
    overflow: hidden;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:rgba(0,0,0,0.5);

    .button-container {
      margin-top: 15px;
      text-align: center;
    }
  }

}
