.signature-field {

  .signature-preview {

    margin-left: 15px;

    background-color: #eeeeee;

    max-width: 280px;
    min-height: 140px;

    .signature-preview-image {
      width:100%;
    }

  }

  .sign-button {
    margin-top:15px;
    margin-left:15px;
  }

  .explanation, .instruction {
    display: inline-block;
    margin-left: 15px;
    margin-top: 7px;
  }

  #can {
    position: absolute;

    @media only screen and (max-device-width : 569px) {
      font-size: 65px;
    }

    top: 80px;
    left:0;
    right:0;
    margin:auto;

    transform-origin: top;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;

    border: 1px solid black;
    background-color: #eeeeee;
  }

  .signature-editor {
    position: fixed;
    overflow: hidden;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:rgba(0,0,0,0.5);

    .button-container {
      margin-top: 15px;
      text-align: center;
    }
  }

}
