.signature-field {

  .signature-preview {

    background-color: #eeeeee;

    max-width: 280px;
    min-height: 140px;

    cursor:pointer;

    .signature-preview-image {
      width:100%;
    }

  }

  #can {
    position: absolute;

    top: 80px;
    @media only screen and (max-device-width : 569px) {
      font-size: 65px;
    }

    left:0;
    right:0;
    margin:auto;

    transform-origin: top;

    border: 1px solid black;
    background-color: #eeeeee;
  }

  .signature-editor {
    position:absolute;
    overflow: hidden;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:rgba(0,0,0,0.5);

    .button-container {
      margin-top: 15px;
      text-align: center;
    }
  }

}
