.string-field {

  display: block;

  margin-top: 40px;

  .label {
    margin-left: 15px;
    font-size: 1.3em;
  }

  input {
    font-family: courier;
    border: none;
    display: block;

    font-size: 1.3em;

    margin-top: 15px;
    padding: 5px;

    box-sizing: border-box;

    width: 100%;

    text-transform: uppercase;
  }

}
