.string-field {

  display: block;

  input {
    font-family: courier;
    border: none;
    display: block;

    font-size: 1.3em;

    margin-top: 15px;
    padding: 5px;

    box-sizing: border-box;

    width: 100%;

    text-transform: uppercase;
  }

  &.error {

    input {
      border: 2px solid red;
    }

  }

}
