<h1>Bedankt!</h1>

<div class="content-block">
  <span>Uw gegevens zijn succesvol verwerkt.</span>
</div>  

<div class="content-block button-nav">
<button class="done float-right" {{action 'done'}}>Klaar</button>
</div>
