<h1>Formulier invullen</h1>

<div class="content-block text-block">
  <span>Door uw gegevens in te vullen steunt u het inleidend verzoek tot het houden van een referendum over de volgende wet / verdrag.</span>
  <br><br>
  <span><i>34116 - Wet Goedkeuring van de op 27 juni 2014 te Brussel tot stand gekomen Associatieovereenkomst tussen de Europese Unie en de Europese Gemeenschap voor Atoomenergie en haar lidstaten, enerzijds, en Oekraïne, anderzijds (Trb. 2014, 160)</i></span>
  <br><br>
  <span>U kunt een verzoek indienen indien u Nederlander bent, 18 jaar of ouder bent op 06-08-2015 en niet uitgesloten bent van het kiesrecht.</span>
  <br><br>
  <span>Indien u buiten Nederland woont kunt u geen gebruik maken van deze app. Zie hiervoor //TODO</span>
  <br><br>
  <span>De gegevens worden niet met derden gedeeld en niet gebruikt voor andere doeleinden dan het printen van het formulier. Terwijl de informatie wordt verwerkt zal deze wanneer mogelijk altijd versleuteld zijn.</span>
  <br><br>
  <span>U verklaart dat u slechts eenmaal een verzoek heeft ingediend ten behoeve van dit inleidend verzoek. Door op ‘Verder’ te drukken gaat u akkoord met deze voorwaarden.</span>
</div>

<div class="content-block button-nav">
  <button class="decline" {{action 'decline'}}>Terug</button>
  <button class="accept float-right" {{action 'accept'}}>Verder</button>
</div>
