<h1>Formulier invullen</h1>

<div class="content-block text-block">
  <span>Door uw gegevens in te vullen steunt u het inleidend verzoek tot het houden van een referendum over nader te kiezen wetten / verdragen.</span>
  <br><br>
  <span>U kunt een verzoek indienen indien u Nederlander bent, 18 jaar of ouder bent op 06-08-2015 en niet uitgesloten bent van het kiesrecht.</span>
  <br><br>
  <span>Indien u buiten Nederland woont kunt u geen gebruik maken van deze app. Zie hiervoor www.geenpeil.nl/buitenland</span>
  <br><br>
  <span>De gegevens worden niet met derden gedeeld en niet gebruikt voor andere doeleinden dan het printen van het formulier.</span>
  <br><br>
  <span>Door op ‘Verder’ te drukken gaat u akkoord met deze voorwaarden.</span>
</div>

<div class="button-nav">
  <button class="decline" {{action 'decline'}}>Terug</button>
  <button class="accept" {{action 'accept'}}>Verder</button>
</div>
