<h1 class="cupido-heading"><div class="logo"></div></h1>
<div class="content-block text-block">
  <span>{{form.text.home1}}</span>
</div>
<div class="content-block home-button-nav">
  <button {{action 'form'}}>{{form.text.home_button_sign_now}}</button>
</div>
<div class="content-block text-block">
  <span>{{{form.text.home2}}}</span>
</div>
