<h1><div class="logo"></div><span class="logo-text">Hart voor Democratie</span></h1>
<div class="content-block text-block">
  <span>{{form.text.home1}}</span>
  <br><br>
  <span>{{{form.text.home2}}}</span>
</div>
<div class="content-block button-nav">
  {{!--<button {{action 'share'}}>App delen</button>--}}
  <button {{action 'form'}}>Formulier invullen</button>
</div>
