<h1 class="cupido-heading"><div class="logo"></div></h1>
<div class="content-block text-block">
  <span>{{form.text.home1}}</span>
  <br><br>
  <span>{{{form.text.home2}}}</span>
</div>
<div class="content-block button-nav">
  <button {{action 'form'}}>Nu formulier invullen</button>
</div>
