<h1>{{formItem.name}}</h1>

<div class="content">
  {{#if isStringInput}}
    {{string-field formItem='formItem'}}
  {{/if}}

  {{#if isSignatureInput}}
  SIGNATURE
  {{/if}}
</div>

<div class="button-nav">
  <button class="cancel" {{action 'cancel'}}>Terug</button>
  <button class="continue" {{action 'continue'}}>Verder</button>
</div>
