<h1>{{formItem.name}}</h1>

  {{generic-field formItem=formItem value=value}}

<div class="button-nav">
  <button class="cancel" {{action 'cancel'}}>Terug</button>
  <button class="continue" {{action 'continue'}}>Verder</button>
</div>
