<div class="fixed-header">
  <h1 class="cupido-heading">
    Voorbeeld
  </h1>
  <button class="close-preview float-right" {{action 'close'}}>Sluiten</button>
</div>

<div style={{containerWidth}} class="preview-container fixed-header-content">

  <img class="preview-form-image" src="ext/33506-inleidend.png">

  {{#each completedFormItems as |formItem|}}

    {{generic-display formItem=formItem properties=properties}}

  {{/each}}

</div>
