<div class="fixed-header">
  <h1>Voorbeeld</h1>
  <button class="close float-right" {{action 'close'}}>Sluiten</button>
</div>

<div style={{containerWidth}} class="preview-container fixed-header-content">

  <img class="preview-form-image" src={{formImage}}>

  {{#each completedFormItems as |formItem|}}

    {{generic-display formItem=formItem}}

  {{/each}}

</div>
