<h1>Delen</h1>

<div class="text-block">
  <span>Druk op een van de iconen om deze app met de wereld te delen.</span>
  <button {{action 'share' 'googleplus'}}></button>
  <button {{action 'share' 'facebook'}}></button>
  <button {{action 'share' 'twitter'}}></button>
</div>
