<h1>Delen</h1>

<div class="content-block  text-block">
  <span>Druk op een van de iconen om deze app met de wereld te delen.</span>
</div>

<div class="content-block  button-share">
  <button class="facebook" {{action 'share' 'facebook'}}>Facebook</button>

  <button class="twitter" {{action 'share' 'twitter'}}>Twitter</button>

  <button class="googleplus" {{action 'share' 'googleplus'}}>Google+</button>
</div>

<div class="content-block button-nav">
  <button class="back" {{action 'back'}}>Terug</button>
</div>
