<span class="label">{{formItem.name}}</span>

{{#if isStringField}}
  {{string-field formItem=formItem preferences=preferences}}
{{/if}}

{{#if isSignatureField}}
  {{signature-field formItem=formItem preferences=preferences}}
{{/if}}
