{{input type='text' value=value placeholder=formItem.placeholder}}
{{#if showError}}
  <span class="instruction">{{formItem.instruction}}</span>
{{/if}}

{{!--<br><span class="debug">valid : {{formItem.isValid}}</span>--}}
