{{#if formItem.explanation}}
  <span class="explanation">{{formItem.explanation}}</span>
{{/if}}
{{input type=inputType autocomplete=formItem.autocomplete value=value placeholder=formItem.placeholder}}
{{#if showError}}
  <span class="instruction">{{formItem.instruction}}</span>
{{/if}}
