@import 'bootstrap';
@import 'mobile';
@import 'animations';
@import 'colors';
@import 'components/components';
@import 'layout/layouts';

body {
  background-color: $backgroundColor;
  color: $fontColor;
  font-family: Arial, sans-serif;
}

.cupido-heading {
  height:100px;
  line-height:55px;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-bottom: 1em;
  padding: 1em;
  color: $titleColor;
  background-color: $headerColor;
}

.noScroll {
  height:100%;
  overflow: hidden;
}

.debug {
  background-color: black;
  color: green;
}
