@import 'cordova';
@import 'animations';
@import 'colors';
@import 'components/components';
@import 'layout/layouts';

body {
  background-color: $backgroundColor;
  color: $fontColor;
  font-family: Arial, sans-serif;
}

h1 {
  height:55px;
  line-height:55px;
  font-size: 2em;
  margin: 1em;
  margin-left: 0.5em;
}

.noScroll {
  overflow: hidden;
}

.debug {
  background-color: black;
  color: green;
}
