.button-nav {

  margin-top: 2.5em;

  .float-right {
    float: right;
    margin-right: 0;
    margin-left: 0.5em;
  }

}

.button-share {

  button {
    display: block;
    background-color: tomato;
  }

}

button {
  transition: background-color 0.5s ease;
  background-color:#0000CC;

  &:hover {
    background-color:#0066FF;
  }

  color: white;

  font-size: 2em;

  padding: 0.25em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;

  border: none;
}
