.content-block {

  margin: 0 1em 0 1em;

  max-width: 560px;

}

.text-block {

  line-height: 1.6em;

  color: $fontColor;

}

.logo {
  display : inline-block;

  background-image: url('logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: left;
  height: 70px;
  width: 100%;
}

.fixed-header {
  position: fixed;
  width:100%;
  background-color: $backgroundColor;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.3);

  .cupido-heading {
    margin-bottom: 0;
  }

  .close-preview {
    margin: 0;
    position: absolute;
    top: 18px;
    right: 10px;
  }

}

.fixed-header-content {
  z-index:-1;
  position:absolute;
  left:0;
  right:0;
  margin:auto;
  top: 150px;
  box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.3);

}

.row {
  padding: 20px;
}

.consent {
  margin: 1em;
  padding: 0.5em;
  border: 1px solid black;

  label {
    margin-top: 0.5em;
  }

  input {
    margin-right: 0.5em;
  }
}
