# General
www/

# Android
platforms/android/assets/www
platforms/android/bin/
platforms/android/gen/
platforms/android/res/xml/config.xml
platforms/android/.gradle/
platforms/android/build/
platforms/android/CordovaLib/build

